In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Cleaning specific columns

In [3]:
df = pd.read_csv('/content/drive/MyDrive/DATA PREPROCESSING/CODE/DATA CLEANING/Datasets/BL-Flickr-Images-Book.csv')
df.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [4]:
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']

df.drop(to_drop, inplace = True, axis = 1)
df = df.set_index('Identifier')
df.head()

                Place of Publication  ...                                         Flickr URL
Identifier                            ...
206                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
216         London; Virtue & Yorston  ...  http://www.flickr.com/photos/britishlibrary/ta...
218                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
472                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
480                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 6 columns]

In [5]:
unwanted_characters = ['[', ',', '-']

def clean_dates(item):
    dop= str(item.loc['Date of Publication'])
    
    if dop == 'nan' or dop[0] == '[':
        return np.NaN
    
    for character in unwanted_characters:
        if character in dop:
            character_index = dop.find(character)
            dop = dop[:character_index]
    
    return dop

df['Date of Publication'] = df.apply(clean_dates, axis = 1)

In [6]:
df.head()

                Place of Publication  ...                                         Flickr URL
Identifier                            ...
206                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
216         London; Virtue & Yorston  ...  http://www.flickr.com/photos/britishlibrary/ta...
218                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
472                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
480                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 6 columns]

In [8]:
def clean_author_names(item):
    
    author = str(item.loc['Author'])
    
    if author == 'nan':
        return np.NaN
    
    author = author.split(',')

    if len(author) == 1:
        name = filter(lambda x: x.isalpha(), author[0])
        return reduce(lambda x, y: x + y, name)
    
    last_name, first_name = author[0], author[1]

    first_name = first_name[:first_name.find('-')] if '-' in first_name else first_name
    
    if first_name.endswith(('.', '.|')):
        parts = first_name.split('.')
        
        if len(parts) > 1:
            first_occurence = first_name.find('.')
            final_occurence = first_name.find('.', first_occurence + 1)
            first_name = first_name[:final_occurence]
        else:
            first_name = first_name[:first_name.find('.')]
    
    last_name = last_name.capitalize()
    
    return f'{first_name} {last_name}'


df['Author'] = df.apply(clean_author_names, axis = 1)

In [9]:
df.head()

                Place of Publication  ...                                         Flickr URL
Identifier                            ...
206                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
216         London; Virtue & Yorston  ...  http://www.flickr.com/photos/britishlibrary/ta...
218                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
472                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...
480                           London  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 6 columns]

In [10]:
def clean_publication_place(item):
    place = str(item['Place of Publication'])
    
    if 'London' in place:
        return 'London'
    if 'Oxford' in place:
        return 'Oxford'
    if place == 'Newcastle upon Tyne':
        return 'Newcastle-upon-Tyne'
    
    return place
    
df['Place of Publication'] = df.apply(clean_publication_place, axis = 1)

In [11]:
df.head()

           Place of Publication  ...                                         Flickr URL
Identifier                       ...
206                      London  ...  http://www.flickr.com/photos/britishlibrary/ta...
216                      London  ...  http://www.flickr.com/photos/britishlibrary/ta...
218                      London  ...  http://www.flickr.com/photos/britishlibrary/ta...
472                      London  ...  http://www.flickr.com/photos/britishlibrary/ta...
480                      London  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 6 columns]

In [12]:
def clean_title(item):
    title = str(item['Title'])
    
    if title == 'nan':
        return np.NaN
    
    if title[0] == '[':
        title = title[1: title.find(']')]
        
    if 'by' in title:
        title = title[:title.find('by')]
    elif 'By' in title:
        title = title[:title.find('By')]
        
    if '[' in title:
        title = title[:title.find('[')]

    title = title[:-2]
        
    title = list(map(str.capitalize, title.split()))
    return ' '.join(title)
    
df['Title'] = df.apply(clean_title, axis = 1)

In [13]:
df.head()

           Place of Publication  ...                                         Flickr URL
Identifier                       ...
206                      London  ...  http://www.flickr.com/photos/britishlibrary/ta...
216                      London  ...  http://www.flickr.com/photos/britishlibrary/ta...
218                      London  ...  http://www.flickr.com/photos/britishlibrary/ta...
472                      London  ...  http://www.flickr.com/photos/britishlibrary/ta...
480                      London  ...  http://www.flickr.com/photos/britishlibrary/ta...

[5 rows x 6 columns]

## Cleaning entire dataset

In [14]:
university_towns = []

with open('/content/drive/MyDrive/DATA PREPROCESSING/CODE/DATA CLEANING/Datasets/university_towns.txt', 'r') as file:
    items = file.readlines()
    states = list(filter(lambda x: '[edit]' in x, items))
    
    for index, state in enumerate(states):
        start = items.index(state) + 1
        if index == 49: #since 50 states
            end = len(items)
        else:
            end = items.index(states[index + 1])
            
        pairs = map(lambda x: [state, x], items[start:end])
        university_towns.extend(pairs)
        
towns_df = pd.DataFrame(university_towns, columns = ['State', 'RegionName'])
towns_df.head()

             State                                         RegionName
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

In [15]:
def clean_up(item):
    if '(' in item:
        return item[:item.find('(') - 1]
    
    if '[' in item:
        return item[:item.find('[')]
    

towns_df =  towns_df.applymap(clean_up)
towns_df.head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

## Renaming columns and skipping rows

In [16]:
olympics_df = pd.read_csv('/content/drive/MyDrive/DATA PREPROCESSING/CODE/DATA CLEANING/Datasets/olympics.csv', skiprows = 1, header = 0)
olympics_df.head()

                Unnamed: 0  ? Summer  01 !  ...  02 !.2  03 !.2  Combined total
0        Afghanistan (AFG)        13     0  ...       0       2               2
1            Algeria (ALG)        12     5  ...       2       8              15
2          Argentina (ARG)        23    18  ...      24      28              70
3            Armenia (ARM)         5     1  ...       2       9              12
4  Australasia (ANZ) [ANZ]         2     3  ...       4       5              12

[5 rows x 16 columns]

In [17]:
def get_new_column_name(column_name):
    return {'Unnamed: 0': 'Country',
           '? Summer': 'Summer Olympics',
           '01 !': 'Gold',
           '02 !': 'Silver',
           '03 !': 'Bronze',
           '? Winter': 'Winter Olympics',
           '01 !.1': 'Gold.1',
           '02 !.1': 'Silver.1',
           '03 !.1': 'Bronze.1',
           '? Games': '# Games', 
           '01 !.2': 'Gold.2',
           '02 !.2': 'Silver.2',
           '03 !.2': 'Bronze.2'}.get(column_name)

for column in olympics_df:
    new_name = get_new_column_name(column)
    if new_name:
        olympics_df.rename({column: new_name}, axis = 1, inplace = True)
        
olympics_df.head()

                   Country  Summer Olympics  ...  Bronze.2  Combined total
0        Afghanistan (AFG)               13  ...         2               2
1            Algeria (ALG)               12  ...         8              15
2          Argentina (ARG)               23  ...        28              70
3            Armenia (ARM)                5  ...         9              12
4  Australasia (ANZ) [ANZ]                2  ...         5              12

[5 rows x 16 columns]